// Colours
$font-color: #ffffff !default;
$background-color: #ffffff !default;

// dimensions
$banner-width: 120px !default;
$banner-height: 600px !default;

$banner-width-expanded:240px !default;
$banner-height-expanded:600px !default;

// font
$font-family: Sans-Serif !default;
