@import "../../../../globals/scss/vars";
@import "../../global";
@import "overwrites";
@import "../../../../globals/scss/normalize";
@import "../../../../globals/scss/base";


$banner-width:300px;
$banner-height:250px;

$banner-width-expanded:700px;
$banner-height-expanded:500px;

#banner {
  background-color: #d1d3d3;
  overflow: hidden;
  width: $banner-width;
  height: $banner-height;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 100;
	display: none;
}

#fullBanner.bannerExpanded{
  width: $banner-width-expanded;
  height: $banner-height-expanded;
  position:absolute;
	top: 0;
	left: 0;
	z-index: 100;
	display:none;
}

#circle{
  top: 0px;
  left: 12px;
  z-index: 1;
}

#open{
  top: 9px;
  left: 21px;
  z-index: 1;
}

#openCTA{
  z-index: 1;
  top: -20px;
  left: -15px;

}

#fullscreen_btn{
  width: 60px;
  height: 65px;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
	z-index: 100;
	display: none;
}


body, body * {
	vertical-align: baseline;
	border: 0;
	outline: 0;
	padding: 0;
	margin: 0;
}

button {
	cursor: pointer;
	-moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

// Div layer for the entire banner.
#container_dc {
	background-color: #FFFFFF;
}

#collapse_exit {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 98;
	background-color: transparent;
}

#fullBanner {
	position: absolute;
	top: 0;
	left: 0;
	width: $banner-width-expanded;
	height: $banner-height-expanded;
	z-index: 100;
	display:none;
}
.bannerExpanded.top-left img{
  position:absolute;
  top:0;
  left:0;
}

#fullscreen_exit {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #000;
	z-index:999;
	background-color: transparent;
}

#close_button {
	position: absolute;
  top: 0px;
  right:10px;
  width:30px;
  height: 30px;
	background-image: url(../img/exp_closeBtn.png);
	background-repeat:no-repeat;
}

#close_hotspot {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 40px;
	height: 40px;
	opacity: 0;
	z-index:999;
	background-repeat:no-repeat;
  cursor: pointer;
}
#exp_cta{
  bottom: 0;
  top: auto;
  left: 370px
}
