#banner {
  position: relative;
  overflow:hidden;
  @extend .full-dimension;

  &-border {
    position: absolute;
    top: 0;
    left: 0;
    width: $banner-width - 2;
    height: $banner-height - 2;
    border: 1px solid #000;
  }
}

#covering-div {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #d1d3d3;
}

/* helper classes */
.top-left, .top-left img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.full-dimension {
  width: $banner-width;
  height: $banner-height;
}

.hide {
  opacity: 0;
  filter: alpha(opacity=0);
}

/* required by doubleclick */
#bg-exit {
  background-color: rgba(255,255,255,0);
  cursor: pointer;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
