html {
    font-family: Sans-Serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-weight: 100
}

body {
    margin: 0
}

a {
    text-decoration: none
}

a:focus {
    outline: dotted thin
}

a:active,
a:hover {
    outline: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

#banner {
    position: relative;
    overflow: hidden
}

#banner-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 298px;
    height: 598px;
    border: 1px solid #000
}

#covering-div {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #d1d3d3
}

#colouredOverlay {
    background-color: #C50022
}

.top-left {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0
}

#banner,
.full-dimension {
    width: 300px;
    height: 600px
}

.hide {
    opacity: 0;
    filter: alpha(opacity=0)
}

#bg-exit {
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}