html {
    font-family: Sans-Serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-weight: 100
}

body {
    margin: 0
}

a {
    text-decoration: none
}

a:focus {
    outline: dotted thin
}

a:active,
a:hover {
    outline: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

#banner {
    position: relative;
    overflow: hidden
}

#banner-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 968px;
    height: 248px;
    border: 1px solid #000
}

#covering-div {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #d1d3d3
}

#colouredOverlay {
    background-color: #C50022
}

.top-left {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0
}

#banner,
.full-dimension {
    width: 970px;
    height: 250px
}

.hide {
    opacity: 0;
    filter: alpha(opacity=0)
}

#bg-exit {
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}


div#sparkle1_1, div#sparkle1_2, div#sparkle2_1, div#sparkle2_2, div#sparkle3_1, div#sparkle3_2, div#sparkle4_1, div#sparkle4_2, div#sparkle5_1, div#sparkle5_2, div#sparkle6_1, div#sparkle6_2, div#sparkle7_1, div#sparkle7_2, div#sparkle8_1, div#sparkle8_2, div#sparkle9_1, div#sparkle9_2,div#sparkle10_1, div#sparkle10_2, div#sparkle11_1, div#sparkle11_2, div#sparkle12_1, div#sparkle12_2, div#sparkle13_1, div#sparkle13_2, div#sparkle14_1, div#sparkle14_2, div#sparkle15_1, div#sparkle15_2, div#sparkle16_1, div#sparkle16_2, div#sparkle17_1, div#sparkle17_2, div#sparkle18_1, div#sparkle18_2, div#sparkle19_1, div#sparkle19_2, div#sparkle20_1, div#sparkle20_2,div#sparkle21_1, div#sparkle21_2, div#sparkle22_1, div#sparkle22_2, div#sparkle23_1, div#sparkle23_2, div#sparkle24_1, div#sparkle24_2, div#sparkle25_1, div#sparkle25_2, div#sparkle26_1, div#sparkle26_2, div#sparkle27_1, div#sparkle27_2 {
    width: 14px;
    height: 13px;
}

div#sparkle1_1 {
    top: 121px;
    left: 395px;
}

div#sparkle1_2 {
    top: 137px;
    left: 395px;
}

div#sparkle2_1 {
    top: 163px;
    left: 395px;
}

div#sparkle2_2 {
    top: 150px;
    left: 395px;
}

div#sparkle3_1 {
    top: 192px;
    left: 395px;
}

div#sparkle3_2 {
    top: 179px;
    left: 395px;
}

div#sparkle4_1 {
    top: 121px;
    left: 406px;
}

div#sparkle4_2 {
    top: 137px;
    left: 406px;
}

div#sparkle5_1 {
    top: 151px;
    left: 406px;
}

div#sparkle5_2 {
    top: 161px;
    left: 406px;
}

div#sparkle6_1 {
    top: 174px;
    left: 404px;
}

div#sparkle6_2 {
    top: 185px;
    left: 402px;
}

div#sparkle7_1 {
    top: 113px;
    left: 446px;
}

div#sparkle7_2 {
    top: 131px;
    left: 446px;
}

div#sparkle8_1 {
    top: 148px;
    left: 447px;
}

div#sparkle8_2 {
    top: 171px;
    left: 447px;
}

div#sparkle9_1 {
    top: 180px;
    left: 447px;
}

div#sparkle9_2 {
    top: 148px;
    left: 456px;
}

div#sparkle10_1 {
    top: 147px;
    left: 468px;
}

div#sparkle10_2 {
    top: 131px;
    left: 485px;
}

div#sparkle11_1 {
    top: 153px;
    left: 374px;
}

div#sparkle11_2 {
    top: 153px;
    left: 354px;
}

div#sparkle12_1 {
    top: 165px;
    left: 342px;
}

div#sparkle12_2 {
    top: 156px;
    left: 318px;
}