.top-left img {
    position: absolute;
    top: 0;
    left: 0
}

#banner {
    overflow: hidden
}

#legalsButton {
    width: 66px;
    height: 27px;
    cursor: pointer;
    position: absolute;
    left: 12px;
    top: 0px;
    z-index: 2;
    background: url(../img/termsButton.png)
}

#closeButton {
    position: absolute;
    height: 64px;
    width: 64px;
    left: auto;
    top: 30px;
    right: 31px;
    cursor: pointer;
    z-index: 1;
    background: url(../img/termsButton.png)
}

#legals {
    width: $banner-width;
    height: $banner-height;
    position: absolute;
    left: 0;
    top: 0
}

#legals.active {
    background: url(../img/terms.png) no-repeat;
    z-index: 3
}

html {
    font-family: Sans-Serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-weight: 100
}

body {
    margin: 0
}

a {
    text-decoration: none
}

a:focus {
    outline: dotted thin
}

a:active,a:hover {
    outline: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

#banner {
    position: relative
}

#banner-border {
    position: absolute;
    top: 0;
    left: 0;
}

#covering-div {
    position: absolute;
    top: 0;
    width: $banner-width;
    height: $banner-height;
    background-color: #d1d3d3
}

.top-left {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0
}

#banner,.full-dimension {
    width: $banner-width;
    height: $banner-height;
    border: 1px solid #000;
}

.hide {
    opacity: 0;
    filter: alpha(opacity=0)
}

#bg-exit {
    background-color: rgba(255,255,255,0);
    cursor: pointer;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}


#close {
background:url(../img/closeButton.png) no-repeat;
z-index:3;
width: 33px;
height: 31px;
position: absolute;
}

