// Colours
$font-color: #ffffff !default;
$background-color: #ffffff !default;

// dimensions
$banner-width: 300px !default;
$banner-height: 250px !default;

// font
$font-family: Sans-Serif !default;
