#banner {
  position: relative;
  @extend .full-dimension;

  overflow: hidden;

  &-border {
    position: absolute;
    top: 0;
    left: 0;
    width: $banner-width - 2;
    height: $banner-height - 2;
    border: 1px solid #014587;
  }
}

#covering-div {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #d1d3d3;
}

/* helper classes */
.top-left {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.full-dimension {
  width: $banner-width;
  height: $banner-height;
}

.hide {
  opacity: 0;
  filter: alpha(opacity=0);
}

/* required by doubleclick */
#bg-exit {
  background-color: rgba(255,255,255,0);
  cursor: pointer;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.posTop {
  position : absolute;
  top      : $valTop;
  right    : $valRight;
}

.posBottom {
  position : absolute;
  top      : $valBottom;
  right    : $valRight;
}

#overlayWhite {
  width            : 100%;
  height           : 100%;
  background-color : #fff;
}

#legals {
    width: $banner-width;
    height: $banner-height;
    position: absolute;
    left: 1px;
    top: 1px;
}

#legals.active {
    background: url(../img/terms.png) no-repeat;
    z-index: 3;
}

#legalsButton {
    width: 66px;
    height: 24px;
    cursor: pointer;
    position: absolute;
    left: 12px;
    top: 1px;
    z-index: 2;
    background: url(../img/termsButton.png);
}