// Colours
$font-color: #ffffff !default;
$background-color: #ffffff !default;

// dimensions
$banner-width: 120px !default;
$banner-height: 600px !default;

// font
$font-family: Sans-Serif !default;

// position of calendar numbers, see designs
$valTop    : 0px;
$valBottom : 100px;

$valRight  : 0px;
