html{
	font-family:Sans-Serif;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	font-weight:100
}
body{
	margin:0
	}
a{
	text-decoration:none
}
a:focus{
	outline:dotted thin
}
a:active,a:hover{
	outline:0
}
table{border-collapse:collapse;
	border-spacing:0
}
#banner{
	position:relative;
	overflow:hidden
}
#banner-border{
	position:absolute;
	top:0;
	left:0;
	width:968px;
	height:248px;
	border:1px solid #000
}
#covering-div{
	position:absolute;
	top:0;
	width:100%;
	height:100%;
	background-color:#d1d3d3
}
#colouredOverlay{
	background-color:#C50022
}
.top-left{
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	right:0
}
#banner,.full-dimension{
	width:970px;
	height:250px
}
.hide{
	opacity:0;
	filter:alpha(opacity=0)
}
#bg-exit{
	background-color:rgba(255,255,255,0);cursor:pointer;height:100%;
	left:0;position:absolute;top:0;width:100%
}

div#sparkle1_1, div#sparkle1_2, div#sparkle2_1, div#sparkle2_2, div#sparkle3_1, div#sparkle3_2, div#sparkle4_1, div#sparkle4_2, div#sparkle5_1, div#sparkle5_2, div#sparkle6_1, div#sparkle6_2, div#sparkle7_1, div#sparkle7_2, div#sparkle8_1, div#sparkle8_2, div#sparkle9_1, div#sparkle9_2,div#sparkle10_1, div#sparkle10_2, div#sparkle11_1, div#sparkle11_2, div#sparkle12_1, div#sparkle12_2, div#sparkle13_1, div#sparkle13_2, div#sparkle14_1, div#sparkle14_2, div#sparkle15_1, div#sparkle15_2, div#sparkle16_1, div#sparkle16_2, div#sparkle17_1, div#sparkle17_2, div#sparkle18_1, div#sparkle18_2, div#sparkle19_1, div#sparkle19_2, div#sparkle20_1, div#sparkle20_2,div#sparkle21_1, div#sparkle21_2, div#sparkle22_1, div#sparkle22_2, div#sparkle23_1, div#sparkle23_2, div#sparkle24_1, div#sparkle24_2, div#sparkle25_1, div#sparkle25_2, div#sparkle26_1, div#sparkle26_2, div#sparkle27_1, div#sparkle27_2 {
    width: 14px;
    height: 13px;
}

div#sparkle1_1 {
    top: 62px;
    left: 290px;
}

div#sparkle1_2 {
    top: 62px;
    left: 283px;
}

div#sparkle2_1 {
    top: 62px;
    left: 298px;
}

div#sparkle2_2 {
    top: 74px;
    left: 290px;
}

div#sparkle3_1 {
    top: 62px;
    left: 307px;
}

div#sparkle3_2 {
    top: 177px;
    left: 290px;
}

div#sparkle4_1 {
    top: 174px;
    left: 326px;
}

div#sparkle4_2 {
    top: 177px;
    left: 299px;
}

div#sparkle5_1 {
    top: 178px;
    left: 306px;
}

div#sparkle5_2 {
    top: 177px;
    left: 346px;
}

div#sparkle6_1 {
    top: 177px;
    left: 354px;
}

div#sparkle6_2 {
    top: 177px;
    left: 362px;
}

div#sparkle7_1 {
    top: 163px;
    left: 326px;
}

div#sparkle7_2 {
    top: 153px;
    left: 326px;
}

div#sparkle8_1 {
    top: 151px;
    left: 317px;
}

div#sparkle8_2 {
    top: 159px;
    left: 304px;
}

div#sparkle9_1 {
    top: 155px;
    left: 382px;
}

div#sparkle9_2 {
    top: 156px;
    left: 369px;
}

div#sparkle10_1 {
    top: 148px;
    left: 366px;
}

div#sparkle10_2 {
    top: 156px;
    left: 362px;
}

div#sparkle11_1 {
    top: 157px;
    left: 354px;
}

div#sparkle11_2 {
    top: 148px;
    left: 372px;
}

div#sparkle12_1 {
    top: 130px;
    left: 372px;
}

div#sparkle12_2 {
    top: 150px;
    left: 335px;
}

div#sparkle13_1 {
    top: 149px;
    left: 349px;
}

div#sparkle13_2 {
    top: 151px;
    left: 343px;
}

div#sparkle14_1 {
    top: 121px;
    left: 369px;
}

div#sparkle14_2 {
    top: 121px;
    left: 321px;
}

div#sparkle15_1 {
    top: 122px;
    left: 314px;
}

div#sparkle15_2 {
    top: 121px;
    left: 306px;
}

div#sparkle16_1 {
    top: 121px;
    left: 294px;
}

div#sparkle16_2 {
    top: 122px;
    left: 329px;
}

div#sparkle17_1 {
    top: 88px;
    left: 310px;
}

div#sparkle17_2 {
    top: 88px;
    left: 320px;
}

div#sparkle18_1 {
    top: 96px;
    left: 316px;
}

div#sparkle18_2 {
    top: 96px;
    left: 306px;
}

div#sparkle19_1 {
    top: 96px;
    left: 322px;
}

div#sparkle19_2 {
    top: 122px;
    left: 336px;
}

div#sparkle20_1 {
    top: 88px;
    left: 333px;
}

div#sparkle20_2 {
    top: 94px;
    left: 363px;
}

div#sparkle21_1 {
    top: 94px;
    left: 355px;
}

div#sparkle21_2 {
    top: 94px;
    left: 347px;
}

div#sparkle22_1 {
    top: 96px;
    left: 331px;
}

div#sparkle22_2 {
    top: 95px;
    left: 339px;
}

div#sparkle23_1 {
    top: 95px;
    left: 290px;
}

div#sparkle23_2 {
    top: 95px;
    left: 279px;
}

div#sparkle24_1 {
    top: 60px;
    left: 356px;
}

div#sparkle24_2 {
    top: 68px;
    left: 360px;
}

div#sparkle25_1 {
    top: 68px;
    left: 351px;
}

div#sparkle25_2 {
    top: 61px;
    left: 321px;
}

div#sparkle26_1 {
    top: 69px;
    left: 309px;
}

div#sparkle26_2 {
    top: 68px;
    left: 327px;
}

div#sparkle27_1 {
    top: 61px;
    left: 339px;
}

div#sparkle27_2 {
    top: 60px;
    left: 363px;
}