@import "../../../../globals/scss/vars";
@import "../../global";
@import "overwrites";
@import "../../../../globals/scss/normalize";
@import "../../../../globals/scss/base";

#banner{
  background:#000;
  overflow: hidden;
}
#covering-div{
  z-index: 3;
}

#video_interface{
  background-image:url("../img/vp_frame.png");
  position:absolute;
  width: 300px;
  height: 250px;
  visibility: hidden;
  z-index: 2;
}
#interfaceBg {
    position: absolute;
    width: 300px;
    height: 250px;
}
#video_controls .cta {
    top: 20px;
}

#video_controls {
  top: 170px;
  width: 300px;
  height: 80px;
  overflow: hidden;
  z-index: 1;
}

#banner-border{
  border-color:#305C8D;
}

#background_exit {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	cursor: pointer;
	opacity: 0;
	z-index: 1;
}

#video1 {
	position: absolute;
  width: 300px;
  height: 250px;
  border: none;
}

.cta {
  border:none;
	cursor: pointer;
  background-color: transparent;
  position:absolute;
}

.cta:hover {
	opacity: 0.8;
}



#play_btn,#pause_btn{
  left: 66px;
}
#stop_btn{
  left: 128px;
}
#sound_on,#sound_off{
  left: 190px;
}

#play_btn {
  visibility: hidden;
	background-image:url("../img/vp_play.png");
	background-repeat:no-repeat;
  width:44px;
  height:44px;
}

#pause_btn {
	background-image:url("../img/vp_pause.png");
	background-repeat:no-repeat;
  width:44px;
  height:44px;
}

#sound_on {
	background-image:url("../img/vp_sound_on.png");
	background-repeat:no-repeat;
  width:44px;
  height:44px;
}

#sound_off {
  visibility: hidden;
	background-image:url("../img/vp_sound_off.png");
	background-repeat:no-repeat;
  width:44px;
  height:44px;
}

#replay {
  visibility: hidden;
	left: 55px;
	background-repeat:no-repeat;
	background-color:#FFF;
}

#stop_btn {
	background-image:url("../img/vp_stop.png");
	background-repeat:no-repeat;
  width:44px;
  height:44px;
}

#watch_cta {
	background-image:url("../img/cta.png");
	background-repeat:no-repeat;
  left: 82px;
  top: 135px;
  width: 136px;
  height: 31px;
  z-index: 2;
}

#close_cta{
  left: 267px;
  top: 0px;
  width: 33px;
  height: 35px;
  z-index: 1;
}
#video_screen{
  left: 0px;
  top:auto;
  bottom: 0;
  width: 300px;
  height: 250px;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}
